<footer class="bg-info mt-5 p-4">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="mb-0 text-light">App by <a target="_blank" href="https://sargalias.com" class="author-link">Sargalias</a></p>
        <p class="mb-0 text-light">&copy; Spyros Argalias <%= (new Date()).getFullYear() %></p>
    </div>
</footer>