<%- include('../header') %>

<div class="container">
    <div class="alert alert-danger mt-4">
        Error <%= error.status %> - <%= error.message %>
    </div>
    <p>You'll be redirected to the home page in 5 seconds...</p>
    <a href="/" class="btn btn-info">Home</a>
</div>

<script>
    setTimeout(() => {
        window.location.href = '/';
    }, 5000);
</script>

<%- include('../footer') %>