<%- include('../header') %>


<div class="container mt-5">
    <h1 class="text-center">Voting App</h1>
    <p class="text-center">Select a poll to see the results and vote, or sign-in to make a new poll.</p>
</div>

<div class="mt-5">
    <div class="container">
        <main>
            <ul class="list-group">
                <% polls.forEach((poll) => { %>
                <li class="list-group-item"><a href="/polls/<%= poll.id %>"><%- poll.title%></a></li>
                <% }); %>
            </ul>
        </main>
        <nav aria-label="Poll pagination" class="mt-3">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<%- include('../footer') %>

