.navbar.navbar-dark {
  .navbar-nav {
    .nav-item {
      display: flex;
      align-items: center;
    }
    .nav-link {
      color: white;
      img {
        max-width: 200px;
      }
      &:hover {
        color: darken(#fff, 10);
      }
    }
  }
}

.list-group-item {
  padding: 0;
  text-align: center;
  &:hover {
    background-color: lighten(#17a2b8, 55);
  }
  a {
    display: block;
    padding: 1rem;
    color: var(--dark);
    &:hover {
      text-decoration: none;
    }
  }
}

.pagination {
  .page-item {
    a {
      color: black;
      &:hover {
        color: black;
        background-color: lighten(#17a2b8, 55);
      }
    }
  }
}

.author-link {
  color: #ddd;
  text-decoration: underline;
  font-weight: bold;
}

.user-poll {
  box-shadow: 0 0 5px rgba(23,162,184, 0.8);
  padding: 1rem;
  .options {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;
        background-color: #fff;
        &:nth-child(2n) {
          background-color: transparent;
        }
      }
    }
  }
}

#options-container {
  input {
    position: relative;
  }
}

button[disabled] {
  cursor: not-allowed;
}

.user-poll .buttons {
  form {
    display: inline;
  }
  .btn {
    margin-top: 0.5rem;
  }
}

.btn-warning {
  color: #fff;
}